.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    height: 200px;
    align-items: baseline;
    gap: 10px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    border: 2px solid #333;
    padding: 10px;
}
.item{
    background-color: lightblue;
    border: #000;
    padding: 20px;
    font-size: 20px;
    text-align: center;
}
.item{
    flex-grow: 1;
    flex-basis: 150px;
    flex-shrink: 0;
    flex: 1;
    align-self: flex-end;
}